:root {
    /* Primary colors and its hover and focus variations (secondary, tertiary) */
    --color-primay: #000000;
    --color-secondary: hsl(270deg 75% 60%);

    /* Basic colors */
    --red-pastel: #F28B82;
    --green-pastel: #B5EAD7;

    /* Basic action colors and its hover and focus variations (secondary, tertiary) */
    --danger-pastel: var(--red-pastel);
    --danger-pastel-secondary: #E0746B;
    --danger-pastel-tertiary: #F5A29A;

    --info-pastel: #A7C7E7;
    --info-pastel-secondary: #8FAFD0;
    --info-pastel-tertiary: #BAD4ED;

    --alert-pastel: #FFF2A1;
    --alert-pastel-secondary: #E8D98D;
    --alert-pastel-tertiary: #FFF6B8;

    --success-pastel: var(--green-pastel);
    --success-pastel-secondary: #9FD1BE;
    --success-pastel-tertiary: #C9F0E1;

    /* Components default colors */
    --line-color: #000000
}